body {
    font-size: 16pt;
}

header, main, footer {
    max-width: 760px;
    margin: 0 auto;
}

header {
    background-color: rgb(67, 138, 138);
    padding: 1rem;
}


header picture img {
    width: 200px;
    height: auto;
}

h1 {
    font-size: 1.8rem;
    color: white;
    text-align: center;
    font-family: Georgia;
}

h2 {
    margin-bottom: 0px;
    font-family: Tahoma;
    font-size: 1.5rem;
}

ul {
    margin-top: 4px;
}
footer {
    background-color:rgb(67, 138, 138);
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 14pt;
    line-height: 25px;
}

.updated {
    font-family: 'Architects Daughter', cursive;
    font-size: 11pt;
    color: #11023a;
}

a {
    color: white;
}