body { 
    font-family: Ubuntu, sans-serif; 
    padding: 0;
	margin: 0;
    font-size: 15px;
}
#pancakes{
	display: none;
	background-color: #eebc43;
	padding: 15px;
}
.pancakes h2 {
	margin: 0;
}
header {
	background-color: #fff;
	padding: 25px 0;
	display: flex;
	align-items:center;
	justify-content:center;
    background-color: #8cdffc;
    text-align: center;
	font-family: Georgia;
}


header img {
	width: 100px;
	height: auto;
    max-width: 200px;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}
h1{
	font-family: Georgia;
	font-size: 1.8rem;
	background-color: #8cdffc;
	padding: 0.5rem;
}
h2{
	font-family: Georgia;
	font-size: 1.5rem;
	padding: 0.5rem;
	text-align: center;
}

.contentbox {
	font-family: 'Architects Daughter';
	background-color: #cccccc;
	max-width: 1000px;
    display: block;
    margin: 10px auto;
    border: 1px solid;
    padding: 15px;
}
nav {
	background-color: #3c687c;
	text-align: center;
	box-shadow: 0 2px 15px gray;
	margin: 0 auto;
	font-family: Georgia;
	font-size: 30px;

}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation a {
	display: block;
	color: #fff;
	font-family: Georgia;
	text-align: left;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, #eebc43, transparent) top / var(--d, 0) 10px no-repeat;
    transition: 0.5s;
}
nav a:hover {
	--d: 75%;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.responsive li {
	display: block;
}

p {
	font-family: 'Architects Daughter';
	margin-left: 3px;
	font-size: 16px;
}
footer {
    background-color: #8cdffc;
    color: black;
    padding: 1rem;
    text-align: center;
    font-size: 15px;
}
.data {
	display: block;
	padding: 0 5px 5px;
	font-size: 0.8rem;
	text-align: center;
}
.contentbox.hero{
	background-color: transparent;
	border: none;
	margin: 10px auto; 
	position: relative;
}
.contentbox.hero img{
	max-width: 1000px;
}
.contentbox.hero .stats {
	position: absolute;
	top: 45px;
	right: 700px;
	background: radial-gradient(#eee, #3c687c);
	border: 1px solid #000;
	padding: 1.2rem;
	box-shadow: 0 0 30px #333;
	opacity: .9;
}
.contentbox.hero .stats h2 {
	padding-bottom: 0;
	margin: 0;
}
.contentbox.hero .stats hr {
	border: 1px solid black;
}
.contentbox.hero .stats p {
	text-align: center;
}
.contentbox.forecast {
	background-color: transparent;
	border: none;
}
.contentbox.forecast.table{
	display: flex;
	justify-content: center;
	border: none;
}
.col-head,th {
	font-weight: 700;
	font-size: 1rem;
	background-color: #8cdffc;
}

table,th,td {
	border: thin solid #333;
	border-collapse: collapse;
	padding: 10px;
}

td {
	background-color: white;
	font-size: 0.8rem;
	text-align: center;
}

.contentbox.article {
	background: radial-gradient(rgb(238, 238, 238), #eebc43);
}
.contentbox.article h2 {
	text-align: left;
}
.contentbox.article h3 {
	padding-left: 0.5rem;
	color: #3c687c;
	font-style: italic;
}
.contentbox.article img {
	max-width: 400px;
	float: right; 
    margin: 10px;
	box-shadow: 0 0 30px #333;
}

.contentbox.article p {
	text-align: justify;
	font-size: 20px;
}

.contentbox.contact {
	background: radial-gradient(rgb(238, 238, 238), #3c747c);
	height: 390px;
}

.contentbox.contact .map {
	max-width: 450px;
	border: solid 1px;
	float: left;
	margin: 10px 150px 10px 10px;
}

.contentbox.contact .info {
	display: block;
	padding: 25px;
	margin: 55px 0px 0px 0px;
}
.contentbox.contact .info img{
	max-width: 30px;
}

.captions {
	text-align: center;
	font-family: 'Architects Daughter';
	padding: 8px;
  }

.container {
	margin: 1rem auto; 
	display:grid; 
	grid-template-columns: 1fr; 
	max-width: 1048px;
	align-items: center;
}

.container picture{
	justify-content: center;
	align-items: center;
	text-align: center;
}

.container img { 
	width: 250px; 
	height: auto; 
	margin: .5rem;
}
.container img[data-src] {
    filter: blur(0.2em);
}
.container img {
	border: 1px solid #333;
	padding: 2px;
	filter: blur(0em);
	transition: filter 0.5s;
}