@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Ubuntu+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F7F4;
}

header {
    text-align: center;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: bold;
    margin: 0 auto;
    background-color: #70ABAF;
    color: white;
    padding: 2rem 0;
}

div.cards {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Dancing Script', sans-serif;
    box-shadow: 10px 10px 18px rgba(20, 20, 20, 0.3);
    border: 1px solid rgba(0 , 0, 0, 0.2);
    
}

div.cards section {
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0 , 0, 0, 0.2);
    border-radius: 2px;
    background-color: #b9b9cc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 1rem auto;
}

div.cards h2 {
    text-align: center;
    padding: .5rem;
}

div.cards p {
    text-align: center;
    padding: .2rem;
}

div.cards img {
    margin: 1rem 0;
}

section img{
    width: 165px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

footer {
    text-align: center;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 400;
    background-color: #70ABAF;
    color: white;
    padding: 2rem 0;
}

@media only screen and (min-width: 32.5em) {
    div.cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }
}

@media only screen and (min-width: 72em) {
    div.cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
    }
}